<% if user_signed_in? %>
    <p>
      You know <span id="percentage_quran"><%= (current_user.percentageSurah)  %></span>% of Quran !
    </p>
    <p>
      Details  :
      <ul>
        <li>Surahs :  <span id="number_surah"><%= current_user.surahs.size %></span>/114</li>
      </ul>
    </p>
<% end %>